<html ng-app="myApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create, Design, Organize!</title>
    <base href="/" />

    <!-- Site Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Core -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <!-- Main Navigation -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light teal lighten-4">

            <!-- Navbar brand -->
            <a class="navbar-brand nav-rocksalt" href="/">Create, Design, Organize!</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Navbar Links -->
                <ul class="navbar-nav mr-auto">
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-permanentmarker" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Bullet Journal Pages</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item nav-permanentmarker" href="/planners">Planners & Agendas</a>
                            <a class="dropdown-item nav-permanentmarker" href="/fitness">Fitness</a>
                            <a class="dropdown-item nav-permanentmarker" href="#">Another Section (Goals)</a>
                        </div>
                    </li>
                </ul>
                <!--/.Dropdown -->

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-permanentmarker" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-permanentmarker" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <!--/. Navbar Links -->

            </div>
        </nav>
    </header>

    <!-- Angular SPA Views -->
    <ui-view></ui-view>

    <!-- Footer -->
    <footer class="page-footer center-on-small-only teal lighten-4 pt-0">

        <div style="background-color: #21d192;">
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!--Grid column-->
                    <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text text-center text-md-left handlee" style="font-size: large"><strong>Get connected with us on Facebook & Pintrest!</strong></h6>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-12 col-md-7 text-center text-md-right">
                        <!--Facebook-->
                        <a class="icons-sm fb-ic ml-0"><i class="fa fa-facebook-square white-text mr-lg-4"> </i></a>
                        <!--Pinterest-->
                        <a class="icons-sm pin-ic"><i class="fa fa-pinterest white-text mr-lg-4"> </i></a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </div>

        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-r dark-grey-text">
                    <h6 class="title font-bold permanentmarker"><strong>Create, Design, Organize!</strong></h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p class="handlee">
                        Your home for professionally designed pages you can insert or paste right into your existing personal
                        bullet journal.  We offer a wide variety of pre-defined templates as well as blank grid paper in a
                        variety of sized to fit your every need!
                    </p>
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r dark-grey-text">
                    <h6 class="title font-bold permanentmarker"><strong>Related Products</strong></h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p class="handlee"><i class="fa fa-book mr-3"></i><a href="https://www.papyrusonline.com/gifts/journals-and-notebooks" class="dark-grey-text" title="PapyrusOnline">Journals</a></p>
                    <p class="handlee"><i class="fa fa-amazon mr-3"></i><a href="https://www.amazon.com/slp/bullet-journal/qgn9783wjkj87ux" class="dark-grey-text" title="AmazonSupplies">Journal Supplies</a></p>
                </div>
                <!--/.Second column-->
                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r dark-grey-text">
                    <h6 class="title font-bold permanentmarker"><strong>Useful links</strong></h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p class="handlee"><i class="fa fa-home mr-3"></i><a href="/" class="dark-grey-text">Home</a></p>
                    <p class="handlee"><i class="fa fa-wikipedia-w mr-3"></i><a href="https://www.wikihow.com/Bullet-Journal" class="dark-grey-text">How To Bullet Journal</a></p>
                    <p class="handlee"><i class="fa fa-user-o mr-3"></i><a href="#!" class="dark-grey-text">Your Account</a></p>
                </div>
                <!--/.Third column-->
                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
                    <h6 class="title font-bold permanentmarker"><strong>Site Info</strong></h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p class="handlee"><i class="fa fa-map-marker mr-3"></i> Peoria Arizona </p>
                    <p class="handlee"><i class="fa fa-envelope mr-3"></i> info@createdesignorganize.com</p>
                    <p class="handlee"><i class="fa fa-envelope mr-3"></i> ideas@createdesignorganize.com</p>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->
        <!-- Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 <strong>Create, Design, Organize!</strong></a>
            </div>
        </div>
        <!--/.Copyright -->

    </footer>

    <!-- Scripts -->
    <!-- Library Files -->
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- Material Design Bootstrap Files-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/mdb.min.js"></script>

    <!-- App Init -->
    <script src="~/ngApp/app.js"></script>

    <!-- Controllers -->
    <script src="~/ngApp/controllers/homeController.js"></script>
    <script src="~/ngApp/controllers/aboutController.js"></script>
    <script src="~/ngApp/controllers/plannerController.js"></script>
    <script src="~/ngApp/controllers/contactController.js"></script>
    <script src="~/ngApp/controllers/fitnessController.js"></script>
    <!--/. Scripts -->

</body>
</html>