<h2>Home From contact.html view</h2>
<p>
    {{controller.message}}
</p>

<h2>Create Design Organize</h2>
<h4>Please find our contact information below</h4>

<address>
    3232 Createmore Blvd<br />
    Peoria, AZ 852332-2332<br />
    <abbr title="Phone">P:</abbr>
    623.555.2332
    M-F 8AM - 4PM AZ
</address>

<address>
    <strong>Site Support:</strong> <a href="mailto:sitesupport@createdesignorganize.edu?subject=Website%20Support%20Request">SiteSupport@CreateDesignOrganize.com</a><br />
    <strong>Information:</strong> <a href="mailto:CreateDesignOrganize.com?subject=General%20Question">Info@CreateDesignOrganize.com</a>
</address>