<!-- Main Layout -->
<main class="mt-5">
    <!-- Main Container -->

    <div class="container">
        <!--Grid Row-->
        <div class="row">
            <!--Grid Colummn-->
            <div class="col-md-5">

                <div class="view overlay hm-white-light z-depth-1-half mb-5 pic-radius-all" oncontextmenu="return disableRightClick();">
                    <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="Sample" />
                    <div class="mask"></div>
                </div>

            </div>
            <!--./Grid Colummn-->
            <!--Grid Colummn-->
            <div class="view overlay z-depth-4 col-md-7 mb-5 teal lighten-4 pic-radius-all">
                <h2 class="permanentmarker">Bullet Journaling</h2>
                <h4 class="handlee"><strong>An Analog System for the Digital Age!</strong></h4>
                <hr />
                <p class="handlee">
                    Create, Design, Organize! was created to help you organize your life! We have created
                    pre-designed page template for you to print out and add to your bullet journal.
                    You can pick from a variety of designs for many sections of your journal, or choose
                    the blank dotted grid pages to truly create your very own personalized pages.  Each design is
                    available in 3 sizes which meet size specifications for most journals.
                    Don’t see what you like?  Shoot us an email via the link at the bottom of the page and we
                    will create one for you if we can.  Pricing will vary based on complexity but will be
                    provided prior to receiving your order.  <strong>Enjoy!</strong>
                </p>

                <!--<a href="" target="_blank" class="btn btn-teal lighten-4 btn-handlee">Get Started Now!</a>-->
            </div>
            <!--./Grid Colummn-->

        </div>
        <!--./Grid Row-->
        <!--SITE EXTRAS-->
        <!--Grid Row-->
        <div class="row grid-divider mt-5 mb-5">

            <!--Grid Column-->
            <div class="col-lg-7 col-md-12">
                <!--Card-->
                <div class="card">

                    <!--Card Top Banner-->
                    <div class="card text-center overlay blue-grey lighten-5 handlee">
                        <span class="align-middle" style="font-size:xx-large"><strong>Getting Started</strong></span>
                        <div class="mask"></div>
                    </div>
                    <!--./Card Top Banner-->
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title handlee" style="font-size:x-large"><strong>Bullet Journal Framework</strong></h4>
                        <!--Text-->
                        <ul class="card-text handlee" style="font-size:small">
                            <li>
                                <strong><i style="font-size:medium">Index</i></strong>&nbsp&nbspThe first few pages of this book are your Index.
                                The Index is where the Bullet Journal really comes together. As you start to use your book, simply add the
                                topics of your Collections and their page numbers to the Index, so you can quickly find and reference them at any point.
                            </li>
                            <li>
                                <strong><i style="font-size:medium">Future Log</i></strong>&nbsp&nbspThis Collection is used to store items that
                                either need to be scheduled months in advance… or things that you want to get around to someday. Set up your
                                Future Log by graphing the pages by the amount of months you’ll need. Two equally-spaced horizontal lines across
                                facing pages creates a six-month calendar, for example.
                            </li>
                            <li>
                                <strong><i style="font-size:medium">Monthly Log</i></strong>&nbsp&nbspThe Monthly Log helps you organize – you
                                guessed it – your month. It consists of a calendar and a task list. To set up your first Monthly Log, go to the
                                next available spread of facing pages. The left page will be your Calendar Page; the right will be your Task Page.
                            </li>
                            <li>
                                <strong><i style="font-size:medium">Daily Log</i></strong>&nbsp&nbspThe Daily Log is designed for day-to-day use. At
                                the top of the page, record the date as your topic. Throughout the course of the day, simply Rapid Log your Tasks,
                                Events, and Notes as they occur. If you don’t fill a page, add the next date wherever you left off and you’re
                                ready to continue.
                            </li>
                        </ul>
                    </div>
                    <!--./Card content-->
                    <!--Card Bottom Banner-->
                    <div class="text-center overlay teal lighten-4 handlee">
                        <span class="align-middle">Visit the original <a href="http://wwww.bulletjournal.com" target="_blank"><strong> Bullet Journal Page</strong></a> for more information on how to get started!</span>
                        <div class="mask"></div>
                    </div>
                    <!--./Card Bottom Banner-->

                </div>
                <!--./Card-->

            </div>

            <div class="col-lg-5 col-md-12">

                <!--Card-->
                <div>
                    <!--Card content-->
                    <div class="card-body ml-4">
                        <!--Title-->
                        <span class="card-title handlee" style="font-size:xx-large"><strong>The Bullet System</strong></span>
                        <!--Text-->
                        <p class="card-text handlee" style="font-size:small">
                            Rapid Logging relies on the use of short-form notation paired with Bullets. Every bulleted item should
                            be entered as short objective sentences. The Bullets will help organize your entries into three categories:
                            Tasks, Events, and Notes.
                        </p><br />
                        <ul class="card-text handlee" style="font-size:small; list-style:none">
                            <li>
                                <strong><i style="font-size:small" class="mr-3">Tasks</i></strong>Use a simple <i class="fa fa-circle ml-2" aria-hidden="true"></i>
                            </li>
                            <li>
                                <strong><i style="font-size:small" class="mr-3">Events</i></strong>Represented by an <i class="fa fa-circle-thin ml-2" aria-hidden="true"></i>
                            </li>
                            <li>
                                <strong><i style="font-size:small" class="mr-3">Move Item to Future</i></strong>Change to a <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i>
                            </li>
                            <li>
                                <strong><i style="font-size:small" class="mr-3">Completed Items</i></strong>Over-wright with a <i class="fa fa-check ml-2" aria-hidden="true"></i>
                            </li>

                            <li>
                                <strong><i style="font-size:small" class="mr-3">Other Signifiers</i></strong><i class="fa fa-asterisk" aria-hidden="true"></i> can be for priorities, <i class="fa fa-exclamation" aria-hidden="true"></i> for inspiring ideas, <i class="fa fa-eye" aria-hidden="true"></i> for exploring ... <strong> Get Creative!</strong>
                            </li>

                        </ul>
                        <p>
                            <br /><img class="center-block img-responsive img-thumbnail" style="height:20%" src="../../images/animation-bullets.gif" />
                        </p>

                    </div>
                </div>
            </div>
            <!--./Grid Colummn-->
        </div>
        <!--Grid Row-->
        <!--./SITE EXTRAS-->
        <!--Grid Row-->
        <div class="container">

                <div class="row">

                    <!--Grid Column-->
                    <div class="col-lg-4 col-md-12 mb-4" oncontextmenu="return disableRightClick();">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight z-depth-">
                                <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body z-depth-4">
                                <!--Title-->
                                <h4 class="card-title handlee"><strong>Planners</strong></h4>
                                <!--Text-->
                                <p class="card-text handlee" style="font-size:small">
                                    Templates for daily, weekly, monthly and yearly planning.
                                    Whatever your agenda needs are, there is a design to help get you started!
                                </p>
                                <a href="/planners" class="btn btn-teal lighten-4 btn-handlee" title="Planners">Planner Pages</a>
                            </div>

                        </div>
                    </div>

                    <!--Grid Column-->
                    <!--Grid Column-->
                    <div class="col-lg-4 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight z-depth-3">
                                <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body z-depth-4">
                                <!--Title-->
                                <h4 class="card-title handlee"><strong>Exercise</strong></h4>
                                <!--Text-->
                                <p class="card-text handlee" style="font-size:small">
                                    Wanting to get in shape, stay fit, but need an addition
                                    to your journal to help you keep on track?  Take a look at what we have to help you maintain your exercise goals!
                                </p>
                                <a href="/exercise" class="btn btn-teal lighten-4 btn-handlee" title="Exercise">Exercise & Fitness Pages</a>
                            </div>

                        </div>
                    </div>
                    <!--Grid Column-->
                    <!--Grid Column-->
                    <div class="col-lg-4 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight z-depth-3">
                                <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body z-depth-4">
                                <!--Title-->
                                <h4 class="card-title handlee"><strong>Lifestyle</strong></h4>
                                <!--Text-->
                                <p class="card-text handlee" style="font-size:small">
                                    Can't remember what that movie was you wanted to see?
                                    need a place to write down that book you want to read?  How about your Bucket List?  Take a look inside and
                                    find pages to help you keep your lifestyle on track!
                                </p>
                                <a href="/lifestyle" class="btn btn-teal lighten-4 btn-handlee" title="Lifestyle">Lifestyle Pages</a>
                            </div>
                        </div>
                    </div>

                    <!--Grid Column-->

                </div>
        </div>
        <!--Grid Row-->
    </div>
    <!-- Main Container -->

</main>
<!-- Main Layout -->
