<!-- Main Layout -->
<main class="mt-5">
    <!-- Main Container -->
    <div class="container">
        <!--Grid Row-->
        <div class="row">
            <!--Grid Colummn-->
            <div class="col-md-5">

                <div class="view overlay hm-white-light z-depth-1-half mb-5 pic-radius-all" oncontextmenu="return disableRightClick();">
                    <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="Sample" />
                    <div class="mask"></div>
                </div>

            </div>
            <!--./Grid Colummn-->
            <!--Grid Colummn-->
            <div class="view overlay z-depth-4 col-md-7 mb-5 teal lighten-4 pic-radius-all">
                <h2 class="permanentmarker">Lifestyles</h2>
                <h4 class="handlee"><strong>Read, Travel, Track Goals - Stay Organized!</strong></h4>
                <hr />
                <p class="handlee">
                    Create Design Organize was created to help you organize your life! We have created
                    pre-designed page template for you to print out and add to your bullet journal.
                    You can pick from a variety of designs for many sections of you journal, or choose
                    the blank dotted grid pages to truly create your personalized pages.  Each design is
                    available in 3 sizes which meet size specifications for almost every journal out there.
                    Don’t see what you like?  Shoot us an email via the link at the bottom of the page and we
                    will create one for you if we can.  Pricing will vary based on complexity but will be
                    provided prior to taking your order  Enjoy!
                </p>
            </div>
            <!--Grid Colummn-->

        </div>
        <!--Grid Row-->
        <!--Grid Row-->
        <div class="row">

            <!--Grid Column-->
            <div class="col-lg-3 col-md-12 mb-4" oncontextmenu="return disableRightClick();">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay z-depth-3 hm-white-slight">
                        <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee"><strong>Read More</strong></h4>
                        <!--Text-->
                        <p class="card-text handlee" style="font-size:small">
                            Are you an avid reader?  Do you find yourself seeing books
                            you want to read but forget to write down the title or author?  These pages can help!
                        </p>
                        <a href="#" class="btn btn-teal lighten-4 btn-handlee">Reading List</a>
                    </div>

                </div>
            </div>

            <!--Grid Column-->
            <!--Grid Column-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay z-depth-3 hm-white-slight">
                        <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee"><strong>Seen a Good Movie?</strong></h4>
                        <!--Text-->
                        <p class="card-text handlee" style="font-size:small">
                            Who hasn't seen a trailer for a movie that you want to see but
                            forgot the title or didn't write it down?  This will be a great addition to your journal!
                        </p>
                        <a href="#" class="btn btn-teal lighten-4 btn-handlee">Entertainment</a>
                    </div>
                </div>
            </div>

            <!--Grid Column-->
            <!--Grid Column-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay z-depth-3 hm-white-slight">
                        <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee"><strong>Where to you want to go?</strong></h4>
                        <!--Text-->
                        <p class="card-text handlee" style="font-size:small">
                            We all love to travel, but to where?  What are some
                            of your favorite places that you haven't been to before?  How much do you need to save?  Adding a travel
                            section to your journal is an awesome idea!.
                        </p>
                        <a href="#" class="btn btn-teal lighten-4 btn-handlee">Travel</a>
                    </div>

                </div>
            </div>
            <!--Grid Column-->
            <!--Grid Column-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay z-depth-3 hm-white-slight">
                        <img src="../../images/img-bulletjournal-sample.jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee"><strong>What's on YOUR Bucket List?</strong></h4>
                        <!--Text-->
                        <p class="card-text handlee" style="font-size:small">
                            Yep.  We all have one, but have you been keeping
                            track?  Here is a simple yet effective way to make sure you have fun living!
                        </p>
                        <a href="#" class="btn btn-teal lighten-4 btn-handlee">Goals</a>
                    </div>
                </div>
            </div>

            <!--Grid Column-->


        </div>
        <!--Grid Row-->
    </div>
    <!-- Main Container -->

</main>
<!-- Main Layout -->
