<div class="mx-auto w-50 p-3 bg-amber text-black text-center rounded-circle mb-5">
    <h3 class="handlee"><i class="fa fa-bomb fa-lg mr-3" aria-hidden="true"></i></i><strong> Dotnet Nuke Error</strong></h3>
</div>
<hr style="border-style:ridge; border-width:3px; border-color:gray; width:75%" />
<div class="mx-auto w-50 p-3 text-black text-center">
    <h3 class="handlee"><i class="fa fa-home mr-3"></i><a href="/" class="dark-grey-text"><strong> There's no place like home! </strong></a></h3>
</div>


