<!-- Main Layout -->
<main class="mt-5">
    <!-- Main Container -->

    <div class="container">
        <!--Grid Row-->
        <div class="row">
            <!--Grid Colummn-->
            <div class="col-md-5">

                <div class="view overlay hm-white-light z-depth-1-half mb-5 pic-radius-all" oncontextmenu="return disableRightClick();">
                    <img src="../../images/img-page-daily.png" class="img-fluid" alt="DailyPlanner" />
                    <div class="mask"></div>
                </div>

            </div>
            <!--./Grid Colummn-->
            <!--Grid Colummn-->
            <div class="col-md-7 mb-5 teal lighten-4 pic-radius-all">
                <h2 class="permanentmarker">Journals To Keep You on Track!</h2>
                <h4 class="handlee"><strong>Daily Planner Pages</strong></h4>
                <hr />
                <p class="handlee">
                    Use this simple page as a begining template for your daily tracker/log.  The simple design is a
                    perfect starter to get you going.  <strong>Get in Control!</strong>
                </p>

                <!-- Test Drop 1 -->
                <!--<form>
                    Select your favorite fruit:
                    <select id="mySelect">
                        <option value="apple">Apple</option>
                        <option value="orange">Orange</option>
                        <option value="pineapple">Pineapple</option>
                        <option value="banana">Banana</option>
                    </select>
                </form>

                <p>Click the button to return the value of the selected fruit.</p>

                <button type="button" onclick="testDrop()">Try It   </button>

                <p id="demo"></p>-->
                <!-- End Test Drop 1 -->

                <!-- Test Drop 2 -->

<!--                <div ng-app='myApp'>-->
                    <!--<div ng-controller='DropdownCtrl'>

                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" dropdown-text-set>
                                Button dropdown <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" id="angular_menu_item">
                                    <a href="#">Action</a>
                                    <a href="#">Another action</a>
                                    <a href="#">Something else here</a>
                                </li>
                            </ul>
                        </div>

                    </div>-->
                <!--</div>-->

                <!-- End Test Drop 2 -->

                <!--Dropdown list for page size-->
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle btn-teal lighten-4 btn-handlee" style="font-size:medium" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Size</button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">A4</a>
                                <a class="dropdown-item" href="#">A5</a>
                                <a class="dropdown-item" href="#">USLetter</a>
                            </div>

                        </div>
                        <!--./Dropdown list for page size-->

                <!--Dropdown list for page type-->
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle btn-teal lighten-4 btn-handlee" style="font-size:medium" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Type</button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Day</a>
                        <a class="dropdown-item" href="#">Week</a>
                        <a class="dropdown-item" href="#">Month</a>
                        <a class="dropdown-item" href="#">Year</a>

                    </div>

                </div>
                <!--./Dropdown list for page type-->


                        <!--Checkbox butons for page types-->
                        <!--<div class="btn-group handlee" data-toggle="buttons">

                            <label class="btn btn-default">
                                <input type="radio" checked autocomplete="off"><strong style="font-size:small">Day</strong>
                            </label>

                            <label class="btn btn-default">
                                <input type="radio" checked autocomplete="off"><strong style="font-size:small">Week</strong>
                            </label>

                            <label class="btn btn-default">
                                <input type="radio" autocomplete="off"><strong style="font-size:small">Month</strong>
                            </label>

                            <label class="btn btn-default">
                                <input type="radio" autocomplete="off"><strong style="font-size:small">Year</strong>
                            </label>

                        </div>-->
                        <!--Checkbox butons for page types-->
                            <a href="#" class="btn btn-teal lighten-4 btn-handlee" style="font-size:medium">Click to Order</a>
            </div>
            <!--./Grid Colummn-->

        </div>
        <!--./Grid Row-->
    </div>
    <!-- Main Container -->

</main>
<!-- Main Layout -->
